@import 'tailwindcss';

/* Required by all components */
@import '../../vendor/filament/support/resources/css/index.css';

/* Required by actions and tables */
@import '../../vendor/filament/actions/resources/css/index.css';

/* Required by actions, forms and tables */
@import '../../vendor/filament/forms/resources/css/index.css';

/* Required by actions and infolists */
@import '../../vendor/filament/infolists/resources/css/index.css';

/* Required by notifications */
@import '../../vendor/filament/notifications/resources/css/index.css';

/* Required by actions, infolists, forms, schemas and tables */
@import '../../vendor/filament/schemas/resources/css/index.css';

/* Required by tables */
@import '../../vendor/filament/tables/resources/css/index.css';

/* Required by widgets */
@import '../../vendor/filament/widgets/resources/css/index.css';

@variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@plugin '@tailwindcss/typography';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';


    --color-primary-50: oklch(0.984 0.019 200.873);
    --color-primary-100: oklch(0.956 0.045 203.388);
    --color-primary-200: oklch(0.917 0.08 205.041);
    --color-primary-300: oklch(0.865 0.127 207.078);
    --color-primary-400: oklch(0.789 0.154 211.53);
    --color-primary-500: oklch(0.715 0.143 215.221);
    --color-primary-600: oklch(0.609 0.126 221.723);
    --color-primary-700: oklch(0.52 0.105 223.128);
    --color-primary-800: oklch(0.45 0.085 224.283);
    --color-primary-900: oklch(0.398 0.07 227.392);
    --color-primary-950: oklch(0.302 0.056 229.695);

    --color-gray-50: oklch(0.985 0 0);
    --color-gray-100: oklch(0.97 0 0);
    --color-gray-200: oklch(0.922 0 0);
    --color-gray-300: oklch(0.87 0 0);
    --color-gray-400: oklch(0.708 0 0);
    --color-gray-500: oklch(0.556 0 0);
    --color-gray-600: oklch(0.439 0 0);
    --color-gray-700: oklch(0.371 0 0);
    --color-gray-800: oklch(0.269 0 0);
    --color-gray-900: oklch(0.205 0 0);
    --color-gray-950: oklch(0.145 0 0);

}


@layer utilities {
    .no-scrollbar-track::-webkit-scrollbar-track {
        @apply bg-white/5;
    }

    .no-scrollbar-track::-webkit-scrollbar {
        width: 6px;
    }

    .no-scrollbar-track::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 6px;
    }

    .no-scrollbar-track {
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.3) transparent; /* thumb color, track color */
    }

    hr {
        @apply w-full h-2 opacity-50 border border-gray-700 rounded-lg strips;
    }
}

@utility strips {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, var(--color-gray-700) 10px, var(--color-gray-700) 12px);
    /*background-image: repeating-linear-gradient(-45deg, var(--color-gray-700), var(--color-gray-700) 1px, transparent 1px, transparent 7px);*/
    /*background-size: 10px 10px;*/
}


@utility wrapper {
    @apply w-full max-w-3xl mx-auto px-4 sm:px-6 lg:px-8;
}
