@import 'tailwindcss';

/* Required by all components */
@import '../../vendor/filament/support/resources/css/index.css';

/* Required by actions and tables */
@import '../../vendor/filament/actions/resources/css/index.css';

/* Required by actions, forms and tables */
@import '../../vendor/filament/forms/resources/css/index.css';

/* Required by actions and infolists */
@import '../../vendor/filament/infolists/resources/css/index.css';

/* Required by notifications */
@import '../../vendor/filament/notifications/resources/css/index.css';

/* Required by actions, infolists, forms, schemas and tables */
@import '../../vendor/filament/schemas/resources/css/index.css';

/* Required by tables */
@import '../../vendor/filament/tables/resources/css/index.css';

/* Required by widgets */
@import '../../vendor/filament/widgets/resources/css/index.css';

@variant dark (&:where(.dark, .dark *));
@source inline("{.dark,hr}");

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

:root {
    --primary-color: var(--color-sky-400);

    --background-color: var(--color-neutral-100);
    --background-color-lighter: var(--color-white);
    --background-color-darker: var(--color-neutral-300);

    --foreground-color: var(--color-neutral-900);
    --foreground-color-lighter: var(--color-neutral-700);
    --foreground-color-darker: var(--color-neutral-950);
}

.dark {
    --foreground-color: var(--color-neutral-100);
    --foreground-color-lighter: var(--color-white);
    --foreground-color-darker: var(--color-neutral-300);

    --background-color: var(--color-neutral-900);
    --background-color-lighter: var(--color-neutral-700);
    --background-color-darker: var(--color-neutral-950);

}


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: var(--primary-color);

    --color-foreground: var(--foreground-color);
    --color-foreground-lighter: var(--foreground-color-lighter);
    --color-foreground-darker: var(--foreground-color-darker);

    --color-background: var(--background-color);
    --color-background-lighter: var(--background-color-lighter);
    --color-background-darker: var(--background-color-darker);


}


@layer utilities {
    .no-scrollbar-track::-webkit-scrollbar-track {
        @apply bg-white/5;
    }

    .no-scrollbar-track::-webkit-scrollbar {
        width: 6px;
    }

    .no-scrollbar-track::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 6px;
    }

    .no-scrollbar-track {
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.3) transparent; /* thumb color, track color */
    }

    hr {
        @apply w-full h-2 opacity-10 outline-1 border border-foreground rounded-lg strips;
    }

    .headroom {
        will-change: transform; /* Optimize for animation */
        transition: transform 0.5s ease-in-out; /* Smooth transition */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    /* Styles when the element is pinned (visible) */
    .headroom--pinned {
        transform: translateY(0%);
    }

    /* Styles when the element is unpinned (hidden) */
    .headroom--unpinned {
        transform: translateY(-100%); /* Slide up and out of view */

    }

    /* Optional: Styles for when the page is at the very top */
    .headroom--top {
        /* Example: Add a shadow only when not at the top */
        box-shadow: none;
    }

    .headroom--not-top {
        @apply shadow-sm shadow-primary/25;
    }


}

@utility strips {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, var(--color-foreground) 10px, var(--color-foreground) 12px);
}


@utility wrapper {
    @apply w-full max-w-4xl mx-auto px-6 lg:px-8;
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@utility slide-in {
    animation: slideInUp 0.5s ease-out both;
}
